.effects {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.effects.active {
  opacity: 1;
  transform: translateY(0);
}

.effects {
  color: #079432;
}
